


#contener{
width:100%;
height:60%;
}

#square{
    width: 50%
    float: left;
}

.title{

    margin: 11px;
    margin-top:4px;
    width:46%;
    height:142px;
    float:left;
    background-color: red;
}

.media{
    margin:15px;
    margin-top:10px;
    width:159px;
    height:125px;
    float:left;
}

#footer{
    width:50%;
}









