<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head %}{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/matches.css' %}">
    <script type="{% static '/javascript" src="clock.js"></script>
</head>

<body marginheight="0" marginwidth="0">
    <div id="contener">
        <div class="left_side" style="background-color: #d3d3d3;width: 25%;height: 758px;float: left;">
            {% block left_side %}
            <h1 style="Margin:10px;">
                Menu:
            </h1>
            <a href="http://localhost:8000/polls/home/" style="font-size:25px;Margin:20px;">
                Strona główna
            </a>
            </br>
            <a href="http://127.0.0.1:8000/polls/teams/" style="font-size:25px;Margin:20px;">
                Lista zespołów
            </a>
            <br/>
            <a href="http://127.0.0.1:8000/polls/match/" style="font-size:25px;Margin:20px;">
                Lista mecze
            </a>
            <br/>
            <a href="http://127.0.0.1:8000/polls/players/" style="font-size:25px;Margin:20px;">
                 Lista zawodnikow
            </a>
            {% endblock %}
        </div>
        <div class="center_side" style="width: 50%;height: 758px;float: left;">
            <div id="logo">
          <a href="http://www.carlsberg.pl/pl/" target="_blank">
             <img src="https://images3.alphacoders.com/277/277225.jpg" style="width:95%;height:250px;Margin:9px; margin-bottom:0px;"/>
          </a>

            <h3>

              {%block center_side %}
                  s
             {%endblock center_side %}
            </h3>

            </div>
            <div id="footer"  style="clear:both;position:absolute;bottom:0;">
            2017 &copy; Wykonali Lukasz Bujno, Kamil Letowski, Przemyslaw Noskowicz. Wszelkie prawa zastrzezone
            </div>
        </div>
        <div class="left_side" style="background-color: #d3d3d3;width: 25%;height: 758px;float: left;" onload="clock()"/>

        </div>

    </div>

</body>

</html>
