{% extends "polls/base.html" %}

{% block aa %}JESTEM W HOME{% endblock %}

{% block center_side %}

    <div id="square">
        <div class="title" >
            <a href="http://127.0.0.1:8000/polls/teams/" style="font-size:25px;Margin:20px;">
                Lista zespołów
            </a>
        </div>

        <div class="title">
            <a href="http://127.0.0.1:8000/polls/match/" style="font-size:25px;Margin:20px;">
                Lista mecze
            </a>
        </div>
        <div style="clear: both;"></div>

        <div class="title">
            <a href="http://127.0.0.1:8000/polls/players/" style="font-size:25px;Margin:20px;">
                Lista zawodnikow
            </a>
        </div>

        <div class="title">

        </div>
    </div>
{% endblock center_side %}
